/* Elements */
body {
  background-color: rgb(252, 170, 18);
}

.jumbotron {
  background-color: #c01919;
  color: rgb(252, 170, 18);
}

main {
  border-radius: 10px;
  width: 95%;
  background-color: antiquewhite;
}

div:empty {
  display: none;
}

/* Eaten Button */
.eat-button {
  transition-duration: 0.4s;
  background-color: white;
  border: 1px solid #4caf50;
}

.eat-button:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

/* Delete Button */
.delete-button {
  transition-duration: 0.4s;
  background-color: white;
  border: 1px solid #f44336;
}

.delete-button:hover {
  background-color: #f44336; /* Red */
  color: white;
}

/*  */

.list-burgers {
  width: 70%;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
.header {
  font-family: "Gloria Hallelujah", cursive;
}

.add-burger {
  margin-top: 10%;
}
